.wborder {
	background-color: #ffffff;
	background-clip:border-box;
	border:1px solid rgba(0,0,0,.125);
	border-radius:.25rem;
}

.indexpanel{
	margin-left: 250px;
	margin-right: 250px;
	padding: 50px;
}

.signuppanel {
	display: block;
	width: 500px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	padding:50px;
}