<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>ChannelX</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i|Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	</head>
	<body>

		<section class="cover-2 text-left">
			<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
				<div class="container">
					<a class="navbar-brand" href="#">ChannelX</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse pull-xs-right justify-content-end" id="navbarSupportedContent">
						<ul class="navbar-nav mt-2 mt-md-0">
							<li class="nav-item active">
								<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ url_for('signup') }}">Sign Up</a>
							</li>
							<li class="nav-item">
								<a class="btn btn-success pill-btn" href="{{ url_for('login') }}">Log In</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<div class="cover-container">
				<div class="cover-inner container">
						<div class="row justify-center">
							<div class="col-lg-5 mt-5 mb-5 text-center text-lg-left">
								<h1 class="jumbotron-heading">Welcome to private messaging</h1>
								<p class="lead">ChannelX provides messaging by respecting your privacy. Continue with the comminaction tools that you are used to, we will hide your information from others.</p>
								<p>
								<a href="{{url_for('signup')}}" class="btn btn-outline-success btn-lg mb-2 mr-2 ml-2 pill-btn">Sign up today</a>
								<a href="#features-section" class="btn link-white mb-2 ml-2 ml-2 pill-btn">Find out more</a>
							</p>
						</div>
						<div class="col-lg-5 offset-lg-2 mt-5 mb-5 text-center">
							<img class="img-fluid mt-5 mb-5" src="{{ url_for('static', filename='images/placeholder-phone-channel.png') }}" >
						</div>
					</div>
				</div>
			</div>
		</section>


		<section id="features-section" class="features-1 text-center">
			<div class="container">
				<h2>Features</h2>
				<div class="divider"></div>
				<div class="row">
					<div class="col-md-4 col-feature">
						<div class="rounded-circle justify-center">
							<em class="fa fa-2x fa-user-secret"></em>
						</div>
						<h4>High Privacy</h4>
						<p>Your personal information is hidden from others.</p>
					</div>
					<div class="col-md-4 col-feature">
						<div class="rounded-circle justify-center">
							<em class="fa fa-2x fa-envelope"></em>
						</div>
						<h4>E-Mail and SMS</h4>
						<p>Use communication tools that you are used to.</p>
					</div>
					<div class="col-md-4 col-feature">
						<div class="rounded-circle justify-center">
							<em class="fa fa-2x fa-comments"></em>
						</div>
						<h4>One click</h4>
						<p>Send your messages to people with just one click.</p>
					</div>
				</div>
			</div>
		</section>
			<div class="container">
				<div class="row">
					<div class="col-md-6 text-center text-md-left mt-2 mb-3 pt-1">
						<p class="copyright">Copyright &copy; <a href="https://medialoot.com">Medialoot</a>. All rights reserved.</p>
					</div>
					<div class="col-md-6 text-center text-md-right mb-4">
						<ul class="social">
							<li><a href="https://github.com/mkykadir/ChannelX" title="Facebook" class="fa fa-github"></a></li>
							<div class="clear"></div>
						</ul>
					</div>
				</div>
			</div>
		</footer>

		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

	</body>
</html>
