{% extends "layout.html" %}
{% block title %}Sign Up{% endblock%}
{% block content %}

		<!-- signup body -->
		<div style="display: block; width: 500px; margin-top: 5px; margin-bottom: 5px; margin-left: auto; margin-right: auto; padding: 50px; background-color: #ffffff;background-clip:border-box;border:1px solid rgba(0,0,0,.125);border-radius:.25rem">
			<h1>Sign Up</h1>
			<p>Some introductry small sentences</p>
			<form role="form" action="{{ url_for('signup') }}" id="signupform", method="post">
				<input type="text" name="inputName" class="form-control" placeholder="Name">
				<br>
				<input type="email" name="inputEmail" class="form-control" placeholder="E-Mail">
				<br>
				<input type="tel" name="inputPhone" class="form-control" placeholder="Phone">
				<br>
				<input type="text" name="inputUsername" class="form-control" placeholder="Username">
				<br>
				<input type="password" name="inputPassword" class="form-control" placeholder="Password">
				<br>
				<button type="submit" class="btn btn-primary btn-block">Sign Up</button>
			</form>
			<div style="text-align: center">
				<a class="nav-link active" href="#">Terms</a>
			</div>
		</div>

{% endblock %}